extends layout

block content

	h1= title
	//- p Welcome to #{title}
	h2 Guam
	p.
		He arrived in Guam!
	p
	img(src="http://sbceo.org/~vms/carlton/Renaissance/magellan2.jpg")
	a(href="/indexPhil").btn.btn-primary.btn-lg Press here to go to the next point in his journey
	script(src="http://code.jquery.com/jquery-2.0.3.min.js")
	link(rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")